<form [formGroup]="myForm" class="form">
    <h2 class="form__title">Datos del grupo</h2>

    <div class="form__group">
        <input formControlName="name" type="text" class="form__input" id="name" placeholder="Nombre del grupo" required
            [ngClass]="{'error':myForm.controls.name.dirty && !myForm.controls.name.valid }">
        <div class="error__msg" *ngIf="myForm.controls.name.dirty && !myForm.controls.name.valid">
            <span *ngIf="myForm.controls.name.errors.required" class="error__text"> * El campo es
                obligatorio *</span>
        </div>
    </div>
    <div class="form__group">
        <input formControlName="logo" type="text" class="form__input" id="logo" placeholder="Logo de la banda (url)"
            [ngClass]="{'error': myForm.controls.logo.value.length > 0 && myForm.controls.logo?.errors?.urlCustom || myForm.controls.logo.value.length > 0 && myForm.controls.logo?.errors?.imageFormat}">

        <div class="error__msg"
            *ngIf="myForm.controls.logo.value.length > 0 && myForm.controls.logo?.errors?.urlCustom || myForm.controls.logo.value.length > 0 && myForm.controls.logo?.errors?.imageFormat">
            <span class="error__text">* El formato <span *ngIf="myForm.controls.logo?.errors?.imageFormat"> de la
                    imagen </span> es
                incorrecto *</span>
        </div>
    </div>
    <div class="form__group">
        <input formControlName="image" type="text" class="form__input" id="image" placeholder="Foto de la banda (url)">
        <div class="error__msg"
            *ngIf="myForm.controls.image.value.length > 0 && myForm.controls.image?.errors?.urlCustom || myForm.controls.image.value.length > 0 && myForm.controls.image?.errors?.imageFormat">
            <span class="error__text">* El formato <span *ngIf="myForm.controls.image?.errors?.imageFormat"> de la
                    imagen </span> es
                incorrecto *</span>
        </div>
    </div>

    <div class="form__group">
        <textarea class="form__textarea" formControlName="bio" name="" id="bio" cols="30" rows="10"
            placeholder="Biografia" required minlength="300"
            [ngClass]="{'error':myForm.controls.bio.dirty && !myForm.controls.bio.valid || myForm.controls.bio.dirty && myForm.controls.bio.errors?.minlength }"></textarea>
        <div class="error__msg" *ngIf="myForm.controls.bio.dirty && !myForm.controls.bio.valid">
            <span *ngIf="myForm.controls.bio.errors.required" class="error__text"> * El campo es
                obligatorio *</span>
        </div>
        <div class="error__msg"
            *ngIf="myForm.controls.bio.dirty && myForm.controls.bio.value.length > 0 && myForm.controls.bio.errors?.minlength">
            <span *ngIf="myForm.controls.bio.errors.minlength" class="error__text"> * Mínimo 300 caracteres *</span>
        </div>
    </div>

    <div class="form__group">
        <input formControlName="video" type="text" class="form__input" id="video"
            placeholder="Formato embebido (https://www.youtube.com/embed/...)">
        <div class="error__msg"
            *ngIf="myForm.controls.video.value.length > 0 && myForm.controls.video?.errors?.urlCustom">
            <span class="error__text">* Formato incorrecto. Ej: https://www.youtube.com/embed/8556cds8 *</span>
        </div>
    </div>
    <h2 class="form__subtitle">Miembros</h2>
    <div class="form__array" formArrayName="members">
        <div class="form__array-item" *ngFor="let member of members.controls; let i=index">
            <ng-container [formGroupName]="i">
                <div class="form__group">
                    <input formControlName="name" type="text" class="form__input" placeholder="Nombre del músico">
                </div>
                <div class="form__group">
                    <input formControlName="sur_name" type="text" class="form__input" placeholder="Apellidos">
                </div>
            </ng-container>
        </div>
        <div class="form__group">
            <button type="button" class="btn btn--secondary" (click)="addMemmber()">Añadir</button>
        </div>
    </div>
    <h2 class="form__subtitle">Discos</h2>
    <div class="form__array" formArrayName="discography">
        <div class="form__array-item" *ngFor="let member of discography.controls; let i=index">
            <ng-container [formGroupName]="i">
                <div class="form__group">
                    <input formControlName="name" type="text" class="form__input" placeholder="Titulo álbum">
                </div>
                <div class="form__group">
                    <input formControlName="year" type="number" class="form__input" placeholder="Año">
                </div>
            </ng-container>
        </div>
        <div class="form__group">
            <button type="button" class="btn btn--secondary" (click)="addAlbum()">Añadir</button>
        </div>
    </div>

    <div class="form__group form__group--btn">
        <button type="button" class="btn btn--primary" [disabled]="!myForm.valid"
            (click)="submit(myForm.value)">Enviar</button>
    </div>
</form>