<div class="searcher" [ngClass]="{'searcher--show':show, 'searcher--fixed': !atHomePage}">
    <div class="searcher__content" #content>
        <button type="button" class="btn searcher__btn" title="show searcher"
            (click)="showInput()">
            <span class="searcher__text">Busca una banda</span>
            <span class="icon icon-search searcher__icon"></span>
        </button>
        <div class="searcher__form">
            <form class="form" [formGroup]="myForm">
                <div class="form__group">
                    <input formControlName="searcher" type="text" name="searcher" id="searcher" class="form__input"
                        placeholder="Grupo, artista, disco ...">
                </div>
            </form>
            <app-predictive-results (navigate)="onNavigate($event)" [bands]="bands"></app-predictive-results>
        </div>
    </div>
</div>
