@mixin btn(
  $bg-color: $transparent,
  $color: $black,
  $shadow-color: $black,
  $border: 0,
  $border-radius: .5rem,
  $padding: .8rem 1.3rem
) {
  background-color: $bg-color;
  border: $border;
  border-radius: $border-radius;
  box-shadow: 0 0 .5rem rgba($shadow-color, .2),
    inset .1rem -.6rem .8rem .1rem rgba($black, .2);
  color: $color;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-family: $ff-main;
  font-size: $fs-base;
  min-width: 4rem;
  outline: 0;
  padding: $padding;
  text-align: center;
  transition: all $fast linear;

  @include desktop{
    &:hover {
      background-color:darken($bg-color, 8%);

      .icon {
        transform: scale(1.1);
      }
    }

  }

}

a.btn,
.btn {
  @include btn();
}

a.btn,
.btn {
  &--primary {
    @include btn($primary, $white, $black);
  }

  &--secondary {
    @include btn($secondary, $white, $black);
  }

  .icon {
    transition: all $normal ease;
    display: inline-block;
  }
}
