@for $i from 1 through 10 {
    .mg-top-#{$i} {
        margin-top: #{$i}rem;
    }
}

@for $i from 1 through 10 {
    .pd-top-#{$i} {
        padding-top: #{$i}rem;
    }
    .pd-left-#{$i} {
        padding-left: #{$i}rem;
    }
    .pd-right-#{$i} {
        padding-right: #{$i}rem;
    }
}
