@import "./mixins";

// Font size

$fs-xl: 10.5rem;
$fs-l: 3rem;
$fs-md: 2.5rem;
$fs-base: 1.6rem;
$fs-sm: 1.3rem;

// Colors

$success: #119e32;
$danger: #be1e1e;
$warning: #fd7e14;
$primary: #d30909;
$secondary: #b60873;
$tertiary: #b60873;
$transparent: transparent;

// Gray Colors

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// Times

$slow: 500ms;
$normal: 250ms;
$fast: 150ms;

// Layers

$modal: 999;
$overtop: 99;
$top: 25;
$over: 1;
$back: -1;

// Breakpoint

$mobile-xs: 32rem;
$mobile: 76.8rem;
$tablet: 99.2rem;
$desktop: 120rem;

// Animations

@keyframes showIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes showMore {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(2rem);
  }
}

@keyframes resalt {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
