<section class="main-list">
    <div class="container">
        <div class="main-list__content">
            <h2 class="main-list__title h2">Las mejores bandas de los 70</h2>
            <ul class="row main-list__list">
                <li class="col-xs-12 col-sm-6 col-lg-4 main-list__item" *ngFor="let band of bands">
                    <app-card [band]="band"></app-card>
                </li>
                <li class="col-xs-12 col-sm-6 col-lg-4 main-list__item">
                    <app-card></app-card>
                </li>
            </ul>
        </div>
    </div>
</section>
